body{
    font-family: 'Arial', sans-serif !important;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #f3c6d3 !important; 
}

.background-image {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.product{
    margin-top: 7%;
    margin-bottom: 3%;
    flex-grow:1;
    position: relative;
}

.row{
    display: flex;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0px 10px 20px #1e1e1e;
    max-width: 600px;
    width: 100%;
    position:relative;
    justify-content: center;
    height: auto;
    border-radius: 30px;
    margin-top:10%;
    margin-left: 30% !important;
    margin-right:25% !important;
    margin-bottom: 5% !important;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

h2{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input[type="text"],input[type="number"],input[type="file"],textarea{
    border: 1px solid #1e1e1e  !important;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #1e1e1e 0px 1px 2px;
}

input[type="file"]{
    background-color: #f3c6d3;
}

.btn-primary{
    background-color: #1e1e1e !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 150px;
}

.btn-primary:hover{
    background-color: #f3c6d3 !important;
    color: #1e1e1e !important;
    border: none;
}

.control:focus {
    box-shadow: 0 0 9px #f3c6d3 !important; 
    border-color: #f3c6d3 !important; 
}

.alert-container{
    position: fixed !important;
    top: 10px !important; 
    right: 10px !important; 
    width: auto;
    max-width: 30%; 
    padding: 20px !important; 
    border-radius: 5px; 
    margin-top: 70px;
}