body {
    font-family: 'Arial', sans-serif;
    background-color: #f3c6d3; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff; 
    border-radius: 17px;
    box-shadow: 0px 6px 17px #1e1e1e;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
}

h1 {
    color: #1e1e1e; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: #1e1e1e;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    margin: 5% 25%;
}

.form-control {
    border-radius: 8px;
    border: 0px solid #1e1e1e; 
    font-size: 14px;
    box-shadow: #1e1e1e 0px 1px 5px;
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: 0 0 9px #f3c6d3; 
    border-color: #f3c6d3; 
}

.button{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-custom {
    background-color: #1e1e1e; 
    color: #ffffff; 
    border-radius: 20px;
    margin: 5%;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s;
    width: 25%;
}

.btn-custom:hover {
    background-color: #f3c6d3; 
    color: #1e1e1e; 
    box-shadow: 0px 4px 10px #1e1e1e;
}

.alert-danger{
    position: fixed !important;
    bottom: 10px !important;
    left: 50% !important; 
    transform: translateX(-50%) !important; 
    width: auto;
    max-width: 30%;
    padding: 20px !important;
    border-radius: 5px;
    margin-top: 70px;
}