.titlebox {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titlebox h2 {
    font-size: 2.5rem;
    color: #1e1e1e; 
    font-family: 'Times New Roman', Times, serif;
}


.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card-body h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-body ul {
    padding-left: 20px;
}

.card-body ul li {
    margin-bottom: 8px;
}