body {
    font-family: 'Arial', sans-serif;
    background-color: #f3c6d3; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff; 
    border-radius: 19px;
    box-shadow: 0px 6px 17px #1e1e1e;
    padding: 20px;
    width: 100%;
    max-width: 600px; 
    text-align: center;
    height: auto;
}

h1 {
    color: #1e1e1e; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
    color: #1e1e1e; 
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    width: 100%; 
    font-size: 16px;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #1e1e1e; 
    font-size: 16px;
    padding: 12px;
    margin-bottom: 20px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus {
    box-shadow: 0 0 8px #f3c6d3; 
    border-color: #f3c6d3;
}

.btn-custom {
    background-color: #1e1e1e; 
    color: #ffffff; 
    border-radius: 25px;
    padding: 12px;
    font-weight: bold;
    width: 50%; 
    transition: all 0.3s;
    margin-top: 10px;
}

.btn-custom:hover {
    background-color: #f3c6d3; 
    color: #1e1e1e; 
    box-shadow: 0px 4px 10px #1e1e1e;
}

.alert-danger{
    position: fixed !important;
    bottom: 10px !important;
    left: 50% !important; 
    transform: translateX(-50%) !important; 
    width: auto;
    max-width: 30%;
    padding: 20px !important;
    border-radius: 5px;
    margin-top: 70px;
}